.nav-title {
    padding: .5rem 01vw ;
    float: left;
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    color: rgb(207, 150, 43);
    text-shadow: 2px 2px rgb(37, 34, 26);
}

@media screen and (max-width: 600px) {
    .nav-title {
        position: absolute;
        top: .25rem;
        left: .25rem;
        float: left;
        padding: .75rem 0 0;
        font-size: 1.5rem;     
        text-align: left; 
        width: 90%;
        
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .nav-title {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: .5rem 0 0;
        text-align: center;
        margin-right: 5rem;
        font-size: 2.5rem;
    }
}
