.page-item{
    display: inline;
    box-sizing: border-box;
    padding: 1vh;
    font-size: 3rem;
    list-style-type: none;
    margin: 1rem 0; 
    font-family: 'Bangers', cursive;   
}
.pagination{
    text-align: center;
    margin: 2vh;
    padding: 0;
}
.page-item{
    text-decoration: none;
    color: rgba(5, 71, 116, 0.849);
}
.page-item:active{
    color: rgba(221, 205, 60, 0.849);
}
.page-item:hover{
    color: rgba(221, 205, 60, 0.849);
}

@media screen and (max-width: 600px) {
    .page-item{
        font-size: 2rem;
    }
    
}
